@font-face {
    font-family: 'Mulish';
    src: url(../css/fonts/Mulish-Black.ttf) format(truetype),
        url(../css/fonts/Mulish-Bold.ttf) format(truetype),
        url(../css/fonts/Mulish-ExtraBold.ttf) format(truetype),
        url(../css/fonts/Mulish-Regular.ttf) format(truetype);
}

* {
    font-family: 'Mulish';
    margin: 0;
    padding: 0;
    font-style: normal;
}

body {
    width: 1220px;
    margin: 0 auto;
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 37px 0;
    align-items: center;
}

header nav {
    display: flex;
}

.img-logo {
    background-image: url(../assets/Course\ topics.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 124px;
    height: 38px;
}

header nav p {
    font: 700 16px 'Mulish';
    color: #001A49;
}

header nav p:not(:last-child) {
    margin-right: 25px;
}

.btn {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    width: 147px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    text-align: center;
    padding: 15px 0;
}

.wrapper {
    width: 537px;
}

.introductory h1 {
    font: 800 60px 'Mulish';
    color: #001A49;
    margin-bottom: 20px;
}

.introductory p {
    font: 400 20px 'Mulish';
    color: #4F596A;
    margin-bottom: 35px;
}

.button {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    width: 206px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
}

.video {
    background-image: url(../assets/Group\ 7.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 590px;
    height: 360px;
    position: relative;
    left: 250px;
}

.statistic {
    margin-top: 203px;
}

.introductory {
    display: flex;
    justify-content: space-between;
    margin-top: 187px;
}

.info {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #E7EAEB;
    border-radius: 21px;
    width: 100%;
    height: 172px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1;

}

.info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.info div:not(:last-child) {
    border-right: 1px solid #E7EAEB;

}

.info div h2 {
    font: 800 40px 'Mulish';
    color: #001A49;
}

.info div p {
    font: 400 16px 'Mulish';
    color: #4F596A;
}

.oval {
    background-image: url(../assets/Side\ Shape.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 288px;
    height: 288px;
    position: absolute;
    left: 200px;
    z-index: 0;
}

.our-advantages div h1 {
    font: 800 46px 'Mulish';
    text-align: center;
    color: #001A49;
    width: 637px;
    margin-top: 194px;
}

.our-advantages div p {
    font: 400 20px 'Mulish';
    text-align: center;
    color: #4F596A;
    margin-top: 1px;
    width: 560px;
}

.our-advantages div {
    display: flex;
    flex-direction: column;
    align-items: center;
}